

.main{
    padding: 2rem;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
input{
    height: 2.5rem;
    width: 12rem;
    border: 2px solid #aaa;
    border-radius: 0.5rem;
    padding: 0 1rem;
}
.inputDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.rating{
    margin-right: 3rem;
}
h1{
    padding-left: 2rem;
}